---
import background from "../assets/background.svg";
---

<div>
    <img id="background" src={background.src} alt="" fetchpriority="high" />
    <main>
        <div class="glass-card"></div>
    </main>
</div>
